@use 'variables' as *; 

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  color: $font-color-white;

  &__title {
    padding-top: 40px;
  }

  &__contact {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
    }

  &__contact-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

  &__information {
    width: 277px;
    height: 48px;
    border-radius: 40px;
    padding-left: 10px;
    font-family: $font-family;
  }

  &__message {
    width: 277px;
    height: 148px;
    border-radius: 16px;
    padding: 20px 10px;
    text-align: left;
    vertical-align: top;
    resize: none;
    font-family: $font-family;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 56px;
    font-weight: $font-bold;
    font-size: 16px;
    border-radius: 40px;
    color: $background-black;
    cursor: pointer;
  }

  &__information-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 30px 60px;
  text-align: left;

  &__font-normal {
    font-weight: $font-normal;
   }

  &__font-medium {
     font-weight: $font-medium;
     transition: color 0.3s ease;
     color: $font-color-white;
     text-decoration: none;

     @media (min-width: 744px) {
      &:hover {
        color: $font-color-gray;
        cursor: pointer;
      }
     }
    }
  }

  @media (min-width: 744px) {
    &__title {
      font-size: 48px;
    }

    &__button {
      transition: 0.3s;
      &:hover {
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
      }
    }

    &__contact-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    &__contact {
      display: flex;
      align-items: center;
      margin-left: 30px;
      gap: 20px;
    }
  }

  @media (min-width: 1260px) {
    &__title {
      font-size: 48px;
    }

    &__information {
      width: 411px;
      height: 48px;
    }

    &__message {
      width: 411px;
      height: 148px;
    }

    &__button {
      width: 411px;
      height: 48px;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
      }
    }

    &__contact {
      display: flex;
      align-items: center;
      margin-left: 30px;
      gap: 20px;
    }

  &__contact-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}
