@use 'variables' as *; 

.menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 30px;

  background-color: $background-beige;

  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 300ms ease;
  z-index: 100;

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__logo {
      height: 38px;
    }

    &__close {
      width: 24px;
      height: 24px;
    }
  }

  &__itens {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    &__selection {
      list-style: none;
      text-decoration: none;
      font-weight: $font-semiBold;
      color: $font-color-black;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        background-color: $background-black;
        width: 0;
        height: 1px;
        position: absolute;
        transition: 0.3s;
        bottom: 0;
        left: 0;
       }

      &:hover {
        &::after {
        width: 100%;
       }
      }
    }
  }

  &__contacts {
    display: inline-block;
    font-weight: $font-semiBold;
    position: relative;

    &__bottom-bar {
      &::after {
        content: "";
        background-color: $background-black;
        width: 80%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.menu-lateral--open {
  transform: translateX(0);
}

.menu-lateral:has(#mobile-menu:target) {
  overflow: hidden;
}

.menu-lateral {
  overflow: auto; 
}
.menu-lateral__icons {
  position: sticky; 
  top: 0;
  z-index: 1;
  background-color: $background-beige;
}
