@use 'variables' as *; 

.products {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: $font-color-white;
  justify-content: center;
  align-items: center;

  &__bikes {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 280px;
    height: 228px;
  }

  &__product-name {
    font-weight: $font-bold;
  }

  &__description {
    font-weight: $font-normal;
  }

  &__price {
    margin-bottom: 40px;
    font-weight: $font-bold;
    font-size: 18px;
  }

  @media (min-width: 744px) {

    &__bikes {
      width: 280px;
    }

    &__image {
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @media (min-width: 1260px) {
    flex-direction: row;

    &__bikes {
      width: 324px;
      margin-left: 15px;
      gap: 6px;
    }
  }
}

.title-products {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: $font-color-white;
  justify-content: center;
  align-items: center;

   @media (min-width: 744px) {
      font-size: 48px;
  }

  @media (min-width: 1260px) {
      font-size: 64px;
  }
}
