@use 'variables' as *;
@use 'header' as *;
@use 'menu' as *;
@use 'hero' as *;
@use 'products' as *;
@use 'details' as *;
@use 'contact' as *;
@use 'footer' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

main {
  background-color: $background-black;
}

