.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-image: url("../../images/main-bike.jpg");
  background-position: right;
  background-size: cover;
  min-height: 480px;
}
.header__title {
  align-self: center;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 744px) {
  .header__title {
    font-size: 64px;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__menu__logo {
  display: block;
  height: 38px;
}
@media (min-width: 1260px) {
  .header__menu__logo {
    font-size: 80px;
  }
}
.header__menu__icons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
@media (min-width: 744px) {
  .header__menu__icons {
    display: inline-flex;
    align-items: center;
    gap: 16px;
  }
}
.header__menu__icons__phone-number {
  display: none;
}
@media (min-width: 744px) {
  .header__menu__icons__phone-number {
    display: inline-block;
    order: 1;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
}
@media (min-width: 744px) {
  .header__menu__icons__phone-call {
    order: 2;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .header__menu__icons__phone-call:hover + .header__menu__icons__phone-number {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 744px) {
  .header__menu__icons__burger {
    order: 3;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
@media (min-width: 1260px) {
  .header {
    font-size: 80px;
  }
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 30px;
  background-color: beige;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 300ms ease;
  z-index: 100;
}
.menu-lateral__icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu-lateral__icons__logo {
  height: 38px;
}
.menu-lateral__icons__close {
  width: 24px;
  height: 24px;
}
.menu-lateral__itens {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-lateral__itens__selection {
  list-style: none;
  text-decoration: none;
  font-weight: 600;
  color: #1d1d1d;
  cursor: pointer;
  position: relative;
}
.menu-lateral__itens__selection::after {
  content: "";
  background-color: #1d1d1d;
  width: 0;
  height: 1px;
  position: absolute;
  transition: 0.3s;
  bottom: 0;
  left: 0;
}
.menu-lateral__itens__selection:hover::after {
  width: 100%;
}
.menu-lateral__contacts {
  display: inline-block;
  font-weight: 600;
  position: relative;
}
.menu-lateral__contacts__bottom-bar::after {
  content: "";
  background-color: #1d1d1d;
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu-lateral--open {
  transform: translateX(0);
}

.menu-lateral:has(#mobile-menu:target) {
  overflow: hidden;
}

.menu-lateral {
  overflow: auto;
}

.menu-lateral__icons {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: beige;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
  font-size: 500;
  color: #fff;
}
.hero__title {
  flex: 1;
}
.hero__description {
  flex: 1;
}
@media (min-width: 744px) {
  .hero__title {
    font-size: 48px;
  }
  .hero__description {
    font-size: 23px;
  }
  .hero {
    flex-direction: row;
    align-items: center;
    padding: 50px 60px;
  }
}
@media (min-width: 1260px) {
  .hero {
    flex-direction: row;
    align-items: center;
    padding: 50px 100px;
  }
  .hero__title {
    font-size: 58px;
  }
  .hero__description {
    font-size: 20px;
  }
}

.products {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.products__bikes {
  display: flex;
  flex-direction: column;
}
.products__image {
  width: 280px;
  height: 228px;
}
.products__product-name {
  font-weight: 700;
}
.products__description {
  font-weight: 400;
}
.products__price {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 744px) {
  .products__bikes {
    width: 280px;
  }
  .products__image {
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .products__image:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 1260px) {
  .products {
    flex-direction: row;
  }
  .products__bikes {
    width: 324px;
    margin-left: 15px;
    gap: 6px;
  }
}

.title-products {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
}
@media (min-width: 744px) {
  .title-products {
    font-size: 48px;
  }
}
@media (min-width: 1260px) {
  .title-products {
    font-size: 64px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px 30px;
  color: #fff;
}
.details__title-1 {
  margin-bottom: 30px;
}
.details__specifics {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.details__position-image {
  display: flex;
  gap: 25px;
}
.details__image {
  width: 140px;
  height: 130px;
}
.details__last-image {
  width: 140px;
  height: 130px;
}
.details__title-2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: -3px;
}
.details__description {
  font-weight: 400;
  text-align: left;
}
.details__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 40px;
  color: #1d1d1d;
  cursor: pointer;
}
@media (min-width: 744px) {
  .details__title-1 {
    font-size: 48px;
  }
  .details__specifics {
    width: 600px;
  }
  .details__image:first-child {
    width: 392px;
    height: auto;
  }
  .details__image:last-child {
    width: 184px;
    height: auto;
  }
  .details__last-image:first-child {
    width: 184px;
    height: auto;
  }
  .details__last-image:last-child {
    width: 392px;
    height: auto;
  }
  .details__button {
    width: 392px;
    transition: 0.3s;
  }
  .details__button:hover {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
  }
}
@media (min-width: 1260px) {
  .details__title-1 {
    font-size: 64px;
  }
  .details__specifics {
    width: 1020px;
  }
  .details__image:first-child {
    width: 672px;
    height: auto;
  }
  .details__image:last-child {
    width: 324px;
    height: auto;
  }
  .details__last-image:first-child {
    width: 324px;
    height: auto;
  }
  .details__last-image:last-child {
    width: 672px;
    height: auto;
  }
  .details__button {
    width: 324px;
    transition: 0.3s;
  }
  .details__button:hover {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
  }
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  color: #fff;
}
.contact-us__title {
  padding-top: 40px;
}
.contact-us__contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.contact-us__contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact-us__information {
  width: 277px;
  height: 48px;
  border-radius: 40px;
  padding-left: 10px;
  font-family: "Poppins", Arial, sans-serif;
}
.contact-us__message {
  width: 277px;
  height: 148px;
  border-radius: 16px;
  padding: 20px 10px;
  text-align: left;
  vertical-align: top;
  resize: none;
  font-family: "Poppins", Arial, sans-serif;
}
.contact-us__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 40px;
  color: #1d1d1d;
  cursor: pointer;
}
.contact-us__information-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 30px 60px;
  text-align: left;
}
.contact-us__information-address__font-normal {
  font-weight: 400;
}
.contact-us__information-address__font-medium {
  font-weight: 500;
  transition: color 0.3s ease;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 744px) {
  .contact-us__information-address__font-medium:hover {
    color: #7e7e83;
    cursor: pointer;
  }
}
@media (min-width: 744px) {
  .contact-us__title {
    font-size: 48px;
  }
  .contact-us__button {
    transition: 0.3s;
  }
  .contact-us__button:hover {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
  }
  .contact-us__contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contact-us__contact {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 20px;
  }
}
@media (min-width: 1260px) {
  .contact-us__title {
    font-size: 48px;
  }
  .contact-us__information {
    width: 411px;
    height: 48px;
  }
  .contact-us__message {
    width: 411px;
    height: 148px;
  }
  .contact-us__button {
    width: 411px;
    height: 48px;
    transition: 0.3s;
  }
  .contact-us__button:hover {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
  }
  .contact-us__contact {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 20px;
  }
  .contact-us__contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: sticky;
  z-index: -1;
  bottom: 0;
}
.footer__image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media (min-width: 744px) {
  .footer__image {
    height: 480px;
  }
}
@media (min-width: 1260px) {
  .footer__image {
    height: 555px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
}

main {
  background-color: #1d1d1d;
}/*# sourceMappingURL=style.css.map */